html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: beige;
}

body {
  margin: 0 10px;
  height: 100%;
  /* border: solid red 2px; */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  /* height: 100%; */
  display: flex;
}
