html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #9eae86;
}

body {
  margin: 0 10px;
  height: 100%;
  /* border: solid red 2px; */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  /* height: 100%; */
  display: flex;
}

.board {
  padding: 5px;
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 1fr);
  position: relative;
}

.outer-brick {
  position: relative;
  margin: 1px;
  width: 38px;
  height: 38px;
  background-color: auto;
  border: 4px solid;
}

.outer-brick.state1 {
  border-color: black;
}

.outer-brick.state0 {
  border-color: #879372;
}

.inner-brick {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 2px;
  left: 2px;
  background-color: #879372;
}

.inner-brick.state1 {
  background-color: black;
}

.inner-brick.state0 {
  background-color: #879372;
}

.outer-brick.state-1 {
  border-color: #726158;
}
.inner-brick.state-1 {
  background-color: #726158;
}

.popup-menu {
  position: absolute;
  left: 195px;
  top: 300px;
  border: solid black 5px;
  border-radius: 10px;
  padding: 30px 50px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-menu button {
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.popup-menu button:hover {
  background-color: beige;
}

.scorePanel {
  border: solid black 2px;
  padding: 5px;
  width: 350px;
}

.score {
  font-size: x-large;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls button {
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.controls button:hover {
  background-color: bisque;
}

.start-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-item {
  width: 75%;
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}

.control-item button {
  width: 35px;
  border: solid 2px black;
  border-radius: 2px;
  background-color: transparent;
  font-size: x-large;
  cursor: pointer;
}

.control-item button:hover {
  background-color: bisque;
}
