html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: beige;
}

body {
  margin: 0 10px;
  height: 100%;
  /* border: solid red 2px; */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  /* height: 100%; */
  display: flex;
}

.board {
  padding: 5px;
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 1fr);
  position: relative;
}

.brick {
  border: 5px solid grey;
  padding: 15px;
  margin: 1px;
  width: 7px;
  height: 7px;
  border-radius: 2px;
}

.state1 {
  background-color: black;
}

.state0 {
  background-color: auto;
}

.popup-menu {
  position: absolute;
  left: 195px;
  top: 300px;
  border: solid black 5px;
  border-radius: 10px;
  padding: 30px 50px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-menu button {
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.popup-menu button:hover {
  background-color: beige;
}

.scorePanel {
  border: solid black 2px;
  padding: 5px;
  width: 350px;
}

.score {
  font-size: x-large;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls button {
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.controls button:hover {
  background-color: bisque;
}
